{
  "extends": ["eslint:recommended", "plugin:prettier/recommended"],
  "rules": {
    "prettier/prettier": ["error"]
  },
  "env": {
    "node": true,
    "es2021": true
  },
  "parserOptions": {
    "ecmaVersion": 2021,
    "sourceType": "module"
  },
  "globals": {
    "window": true,
    "document": true,
    "WebAssembly": true
  },
  "overrides": [{
    "files":["**/*.js"],
    "rules": {
      "no-useless-escape":["off"],
      "no-unused-vars":["off"],
      "no-undef":["off"]
    }
  }]
}
